
.background{
    background-image: url('../../images/hero.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hamburger.active span:nth-child(1) {
    transform: rotate(45deg);
    top:1rem;
    position: absolute;
  }
  
  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger.active span:nth-child(3) {
    transform: rotate(-45deg);
    top:1rem;
    position: absolute;
  }
  .hamburger:hover{
    border:2px solid white
  }